# Make sure that the .project and .classpath files are under version control.
# These files must be stored in the repository so that other users checking out
# the projects for the first time will get the correct type of project and will get the correct Java build path.

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar we need the local jar for @PT
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build output directies #
##########################
/target
*/target
/build
*/build

# IntelliJ specific files/directories #
# actually we can use IntelliJ since we no longer rely on the keyword-based ParaTask, we use annotation-based ParaTask instead
# no need to use eclipse plugin
# (DO USE INTELLIJ BECAUSE IT IS WAY BETTER THAN ECLIPSE, PLS!!!!)
#######################################
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories #
######################################
.settings
.metadata
.project
.classpath
